<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to NodeAPI assignment, enter /api/v1/weather in the URL to get forecast</p>
  </body>
</html>
